mixin footer-menu(options)
    - var single = options.items.length === 1;
    +b.footer-menu(class=single?'footer-menu_single':'')
        +e.UL.list
            each item in options.items
                +e.LI.item(class=item.title?'footer-menu__item_title':'')
                    if item.link
                        +e.A.link(href=item.link class=!single&&item.title?'footer-menu__toggle':'')= item.name
                            if (options.items.length > 1 && item.title)
                                +e.SPAN.arrow.svg-icon-arrow-down-s.svg-icon-arrow-down-s-dims
                    else
                        +e.SPAN.link(class=!single&&item.title?'footer-menu__toggle':'')= item.name
                            if (options.items.length > 1 && item.title)
                                +e.SPAN.arrow.svg-icon-arrow-down-s.svg-icon-arrow-down-s-dims
