

mixin top-menu()
    -
        var items = [
            {
                name: 'Анализы и цены',
                link: '#',
                icon: '',
                subitems: [
                    {
                        name: 'Анализы крови',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Анализы на гормоны',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Аллергологические исследования',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Генодиагностика наследственных заболеваний',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Анализы мочи',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Онкомаркеры',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Диагностика инфекций',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Химико-токсикологические исследования',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Анализы кала',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Маркеры аутоиммунных заболеваний',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Микробиологические исследования',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Гистологические исследования',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Биохимические анализы',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Анализы на иммунный статуc',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Цитологические исследования',
                        link: '',
                        icon: '',
                    },
                    {
                        name: 'Генетические исследования',
                        link: '',
                        icon: '',
                    },

                ]
            },
            {
                name: 'Тесты на COVID-19',
                link: '#',
                icon: ''
            },
            {
                name: 'Комплексные исследования',
                link: '#',
            },
            {
                name: 'Анализы на дому',
                link: '#',
            },
            {
                name: 'Акции',
                link: '#',
                icon: 'icon-hot'
            },
            {
                name: 'О центре',
                link: '#',
            },
            {
                name: 'Другие медицинские услуги',
                link: '#',
            }
        ];

    +b.NAV.top-menu
        .content-center
            +e.UL.menu
                each item in items
                    +e.LI.menu-item(class=(item.subitems&&item.subitems.length > 0)?'is-parent':'')
                        +e.A.menu-link(href=item.link)
                            if item.icon
                                +svgUse(12,12,item.icon)(class='top-menu__link-icon')
                            +e.item-text= item.name
                        if item.subitems&&item.subitems.length > 0
                            +e.submenu-holder
                                .content-center
                                    +e.UL.submenu
                                        each subitem in item.subitems
                                            +e.LI.submenu-item
                                                +e.A.submenu-link(href=subitem.link)
                                                    if subitem.icon
                                                        +svgUse(12,12,subitem.icon)(class='top-menu__link-icon')
                                                    +e.subitem-text= subitem.name