.cart-total {
  $self: &;
  margin-bottom: 90px;
  padding: 35px 35px 40px;
  background: $color-white;
  border-radius: 3px;
  box-shadow: 0 3px 20px rgba(34, 87, 142, 0.1);
  @media #{$media-phone} {
    padding: 20px;
  }
  @media #{$media-not-mobile} {
    position: sticky;
    top: 150px;
    z-index: 5;
  }
  &__block {
    padding: 20px 0 12px;
    border-bottom: 1px dashed rgba($color-border-dotted, .17);
    @media #{$media-phone} {
      padding-bottom: 10px;
      &_info {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
      }
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  &__title {
    font-weight: $font-weight-medium;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-secondary;
  }
  &__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__item-name {
    font-size: 14px;
    color: $color-text-light;
  }
  &__item-price {
    font-weight: $font-weight-medium;
    font-size: 18px;
    .rub {
      font-weight: $font-weight-normal;
      font-size: 16px;
    }
  }
  &__total {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 40px;
    @media #{$media-phone-landscape} {
      margin-top: 10px;
    }
  }
  &__total-name {
    font-size: 16px;
  }
  &__total-price {
    font-weight: $font-weight-medium;
    font-size: 28px;
    .rub {
      font-size: 26px;
    }
    @media #{$media-phone-landscape} {
      font-size: 22px;
      .rub {
        font-size: 20px;
      }
    }
  }
  &__footnote {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    b {
      font-weight: $font-weight-medium;
    }
    #{$self}__buttons + & {
      margin-top: 15px;
      margin-bottom: 0;
      color: $color-text-light;
      .policylink {
        color: currentColor;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    &_align-left {
      align-items: flex-start;
    }
  }
  &__edit-link {
    font-size: 14px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}