mixin cart-total()
    +b.cart-total
        +e.block
            +e.title К оплате
        +e.block
            +e.UL.list
                +e.LI.list-item
                    +e.item-name Исследования
                    +e.item-price + 4 800 #[span.rub ₽]
                +e.LI.list-item
                    +e.item-name Взятие биоматериала
                    +e.item-price + 200 #[span.rub ₽]
            +e.total
                +e.total-title Общая цена
                +e.total-price 5 200 #[span.rub ₽]
        +e.block
            +e.footnote
                p Указан предварительный расчет стоимости на основе цен медицинских офисов.
                p
                    b Стоимость услуг при заказе выезда на дом может отличаться!
            +e.buttons
                +e.A.submit.button.button_filled Перейти к оформлению
