include ../field/field
mixin place-tabs()
    +b.place-tabs.tabs-holder
        +e.nav.tabs-links
            +e.A.link.tabs-link.is-active(data-target='#place-center' href='javascript:;')
                +e.link-icon-holder
                    +svgUse(18, 23, 'icon-pin')
                +e.link-text В #[span.hide-mobile медицинском] центре
            +e.A.link.tabs-link(data-target='#place-home' href='javascript:;')
                +e.link-icon-holder
                    +svgUse(25, 21, 'icon-home')
                +e.link-text На дому
        +e.tabs.tabs
            +e.tab.tab.is-active(id='place-center')
                +e.medcenter-choice.is-hidden
                    +e.BUTTON.choice-button.button._stroke
                        +svgUse(18, 23, 'icon-pin')
                        .button__text Выбрать медцентр
                    +e.medcenter-places
                        +e.places-count 34 филиала
                        +e.places-text в Москве и Московской области
                +e.medcenter-selected
                    +e.medcenter-place
                        +e.selected-title Вы выбрали:
                        +e.selected-place г. Москва, ул. Генерала Кузнецова, 19к1
                    +e.BUTTON.button.button._stroke Изменить
            +e.tab.tab(id='place-home')
                +b.form-standart._two-cols
                    +e.FORM
                        +e.item
                            +field({fieldType: 'text', codeName: 'address', required: true, label: 'Адрес*'})
                        +e.item
                            +field({fieldType: 'date', codeName: 'appoinmentDate', required: true, label: 'Предпочтительная дата выезда*'})
                        +e.item
                            +e.item-title Выберите тарифную зону
                            +field({fieldType: 'select', codeName: 'zone', required: true, label: 'Тарифная зона', options:[
                                    {
                                        value: 'in-mkad',
                                        price: 1500,
                                        name: 'Москва (в пределах МКАД)',
                                    },
                                    {
                                        value: 'in-ckad',
                                        price: 2000,
                                        name: 'МO (от МКАД до ЦКАД)',
                                    }
                                ]})
                        +e.item
                            +e.item-title Телефон для связи
                            +field({fieldType: 'tel', codeName: 'phone', required: true, label: 'Номер телефона', options: [
                                    {
                                        value: '+7',
                                        name: '+7',
                                        country: 'Россия'
                                    },
                                    {
                                        value: '+375',
                                        name: '+375',
                                        country: 'Беларусь'
                                    }
                                ]})