include ../category-nav/category-nav
mixin seo-tabs(params)
    +b.SECTION.seo-tabs.tabs-holder(class=params&&params.borders?'seo-tabs_borders':'')
        +e.H2.title.h3 Анализы крови в СитиМед
        +e.nav.tabs-links
            +e.A.link.tabs-link.is-active(data-target='#tab1' href='javascript:;') Якорная ссылка
            +e.A.link.tabs-link(data-target='#tab2' href='javascript:;') Якорная ссылка
            +e.A.link.tabs-link(data-target='#tab3' href='javascript:;') Якорная ссылка
            +e.A.link.tabs-link(data-target='#tab4' href='javascript:;') Якорная ссылка
        +e.tabs.tabs
            +e.A.link._mobile.tabs-link.is-active(data-target='#tab1' href='javascript:;') Якорная ссылка
            +e.tab.tab.text-styles.is-active(id='tab1')
                p #[a(href='#') Глюкоза] – основной лабораторный тест в диагностике сахарного диабета; уровень глюкозы отмечается строго на текущий момент, возможно влияние различных факторов. Используется для скрининга сахарного диабета, динамического наблюдения и оценки эффективности лечения. Повышение уровня сахара крови называется гипергликемия, снижение – гипогликемия.
                p #[a(href='#') Гликированный гемоглобин А1с] – необратимое соединение глюкозы с гемоглобином, отражает состояние углеводного обмена примерно за 3 месяца, что позволяет подтвердить наличие и степень повышения уровня глюкозы в крови, выявить «скрытые» формы диабета и диабет беременных. Оптимальный показатель для контроля течения сахарного диабета.
                p #[a(href='#') Инсулин] – главный регулятор углеводного обмена. При сахарном диабете 1 типа наблюдается абсолютная недостаточность инсулина. Диабет 2 типа развивается на фоне инсулинорезистентности, когда инсулин чаще повышен. Не является абсолютным критерием в диагностике диабета, может быть ложно изменен на фоне инсулинотерапии.
            +e.A.link._mobile.tabs-link(data-target='#tab2' href='javascript:;') Якорная ссылка
            +e.tab.tab.text-styles(id='tab2')
                p #[a(href='#') Глюкоза] – основной лабораторный тест в диагностике сахарного диабета; уровень глюкозы отмечается строго на текущий момент, возможно влияние различных факторов. Используется для скрининга сахарного диабета, динамического наблюдения и оценки эффективности лечения. Повышение уровня сахара крови называется гипергликемия, снижение – гипогликемия.
                p #[a(href='#') Инсулин] – главный регулятор углеводного обмена. При сахарном диабете 1 типа наблюдается абсолютная недостаточность инсулина. Диабет 2 типа развивается на фоне инсулинорезистентности, когда инсулин чаще повышен. Не является абсолютным критерием в диагностике диабета, может быть ложно изменен на фоне инсулинотерапии.
            +e.A.link._mobile.tabs-link(data-target='#tab3' href='javascript:;') Якорная ссылка
            +e.tab.tab.text-styles(id='tab3')
                p #[a(href='#') Гликированный гемоглобин А1с] – необратимое соединение глюкозы с гемоглобином, отражает состояние углеводного обмена примерно за 3 месяца, что позволяет подтвердить наличие и степень повышения уровня глюкозы в крови, выявить «скрытые» формы диабета и диабет беременных. Оптимальный показатель для контроля течения сахарного диабета.
                p #[a(href='#') Инсулин] – главный регулятор углеводного обмена. При сахарном диабете 1 типа наблюдается абсолютная недостаточность инсулина. Диабет 2 типа развивается на фоне инсулинорезистентности, когда инсулин чаще повышен. Не является абсолютным критерием в диагностике диабета, может быть ложно изменен на фоне инсулинотерапии.
            +e.A.link._mobile.tabs-link(data-target='#tab4' href='javascript:;') Якорная ссылка
            +e.tab.tab.text-styles(id='tab4')
                p #[a(href='#') Глюкоза] – основной лабораторный тест в диагностике сахарного диабета; уровень глюкозы отмечается строго на текущий момент, возможно влияние различных факторов. Используется для скрининга сахарного диабета, динамического наблюдения и оценки эффективности лечения. Повышение уровня сахара крови называется гипергликемия, снижение – гипогликемия.
                p #[a(href='#') Гликированный гемоглобин А1с] – необратимое соединение глюкозы с гемоглобином, отражает состояние углеводного обмена примерно за 3 месяца, что позволяет подтвердить наличие и степень повышения уровня глюкозы в крови, выявить «скрытые» формы диабета и диабет беременных. Оптимальный показатель для контроля течения сахарного диабета.
mixin info-tabs(params)
    +b.SECTION.seo-tabs.tabs-holder(class=params&&params.borders?'seo-tabs_borders':'')
        +e.nav.tabs-links
            +e.A.link.tabs-link.is-active(data-target='#itab1' href='javascript:;') Об иследовании
            +e.A.link.tabs-link(data-target='#itab2' href='javascript:;') Как подготовиться?
            +e.A.link.tabs-link(data-target='#itab3' href='javascript:;') Как подготовиться?
        +e.tabs.tabs
            +e.A.link._mobile.tabs-link.is-active(data-target='#itab1' href='javascript:;') Об иследовании
            +e.tab.tab.text-styles.is-active(id='itab1')
                h5 Что входит в комплекс
                +category-nav({items: [
                        {
                            name: 'Общий белок',
                        },
                        {
                            name: 'Аланинаминотрансфераза (АЛТ)',
                        },
                        {
                            name: 'Aспартатаминотрансфераза (АСТ)',
                        },
                        {
                            name: 'Билирубин общий',
                        },
                        {
                            name: 'Креатинин',
                        },
                        {
                            name: 'Мочевина',
                        },
                        {
                            name: 'Холестерин общий',
                        },
                        {
                            name: 'Сывороточное железо',
                        },
                    ]})
            +e.A.link._mobile.tabs-link(data-target='#itab2' href='javascript:;') Как подготовиться?
            +e.tab.tab.text-styles(id='itab2')
                p #[a(href='#') Глюкоза] – основной лабораторный тест в диагностике сахарного диабета; уровень глюкозы отмечается строго на текущий момент, возможно влияние различных факторов. Используется для скрининга сахарного диабета, динамического наблюдения и оценки эффективности лечения. Повышение уровня сахара крови называется гипергликемия, снижение – гипогликемия.
                p #[a(href='#') Инсулин] – главный регулятор углеводного обмена. При сахарном диабете 1 типа наблюдается абсолютная недостаточность инсулина. Диабет 2 типа развивается на фоне инсулинорезистентности, когда инсулин чаще повышен. Не является абсолютным критерием в диагностике диабета, может быть ложно изменен на фоне инсулинотерапии.
            +e.A.link._mobile.tabs-link(data-target='#itab3' href='javascript:;') Как подготовиться?
            +e.tab.tab.text-styles(id='itab3')
                p #[a(href='#') Гликированный гемоглобин А1с] – необратимое соединение глюкозы с гемоглобином, отражает состояние углеводного обмена примерно за 3 месяца, что позволяет подтвердить наличие и степень повышения уровня глюкозы в крови, выявить «скрытые» формы диабета и диабет беременных. Оптимальный показатель для контроля течения сахарного диабета.
                p #[a(href='#') Инсулин] – главный регулятор углеводного обмена. При сахарном диабете 1 типа наблюдается абсолютная недостаточность инсулина. Диабет 2 типа развивается на фоне инсулинорезистентности, когда инсулин чаще повышен. Не является абсолютным критерием в диагностике диабета, может быть ложно изменен на фоне инсулинотерапии.