.button {
  display: flex;
  padding: 18px 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color-secondary;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  border-radius: 60px;
  background-color: $color-white;
  border: 1px solid $transparent;
  box-shadow: none;
  transition: color ease .35s, background-color ease .35s, background-position ease .35s, background-size ease .35s, box-shadow ease .35s, border-color ease .35s;
  svg {
    display: block;
    fill: currentColor;
    flex-shrink: 0;
  }
  &:hover {
    text-decoration: none;
  }
  &_stroke {
    border-color: $color-secondary;
    &:hover {
      color: $color-white;
      background-color: $color-secondary;
    }
  }
  &_accent {
    font-size: 13px;
    text-transform: uppercase;
    color: $color-white;
    border-color: $color-accent;
    background-color: $color-accent;
    box-shadow: 0 2px 8px rgba(243, 81, 80, 0.4);
    &:hover {
      background-color: $color-accent-dark;
      box-shadow: 0 0 4px rgba(243, 81, 80, 0.4);
    }
  }
  &_white {
    box-shadow: 0 2px 6px rgba(34, 87, 142, 0.17);
    &:hover {
      background-color: darken($color-white, .2);
      box-shadow: 0 0 0 rgba(243, 81, 80, 0);
    }
  }
  &_control {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    padding: 0;
    box-shadow: 0 2px 6px rgba(34, 87, 142, 0.15);
    border: 1px solid rgba(87, 117, 143, 0);
    &.slick-disabled, &:disabled, &.is-disabled {
      box-shadow: 0 0 0 rgba(34, 87, 142, 0);
      border-color: rgba(87, 117, 143, 0.29);
      svg {
        fill: #57758F;
      }
    }
    @media #{$media-not-mobile} {
      &:hover {
        box-shadow: 0 0 2px rgba(34, 87, 142, 0.15);
      }
    }
  }
  &_filled {
    color: $color-white;
    background-image: linear-gradient(89.84deg, #1B77DC -0.35%, #35A8EA 99.03%);
    background-size: 100% 100%;
    background-position: center center;
    box-shadow: 0 2px 6px rgba(34, 87, 142, 0.17);
    &:hover {
      background-size: 200% 100%;
    }
  }
  &_cart {
    position: relative;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    padding: 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0 2px 6px rgba(34, 87, 142, 0.15);
    border: 1px solid rgba(87, 117, 143, 0);
    .is-added & {
      background-color: $color-secondary;
      > svg {
        fill: $color-white;
      }
    }
  }
  &__remove {
    position: absolute;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    right: 0;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 0;
    border-radius: 100%;
    background-color: $color-white;
    border: 1px solid rgba($color-text-light, .15);
    > svg {
      fill: $color-accent;
    }
    .is-added & {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &_prev {
    svg {
      transform: rotate(90deg) translate(0, 2px);
    }
  }
  &_next {
    svg {
      transform: rotate(-90deg) translate(0, 2px);
    }
  }
  &__text {
    svg + & {
      margin-left: 10px;
    }
  }
}