.icon-link {
  $self: &;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: $color-black;
  &:hover {
    color: $color-secondary;
    text-decoration: none;
  }
  &__icon-holder {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
  &__icon {
    display: block;
    fill: $color-secondary;
    #{$self}_icon-accent & {
      fill: $color-accent;
    }
    #{$self}_icon-dark-mobile & {
      @media #{$media-mobile} {
        fill: $color-black;
      }
    }
  }
  &__text {
    font-size: 14px;
    font-weight: $font-weight-medium;
    #{$self}_text-secondary & {
      color: $color-secondary;
    }
   #{$self}_text-secondary:hover & {
      color: $color-accent;
    }
    #{$self}_text-bigger & {
      font-size: 16px;
      font-weight: $font-weight-semibold;
    }
    #{$self}_text-smaller & {
      font-size: 14px;
      text-transform: none;
      font-weight: $font-weight-normal;
    }
  }
  &_no-brake {
    white-space: nowrap;
  }
  &_text-uppercase {
    font-size: 13px;
    text-transform: uppercase;
  }
  @media #{$media-mobile} {
    &_no-text-mobile {
      #{$self} {
        &__text {
          display: none;
        }
        &__icon {
          margin-right: 0;
        }
      }
    }
    .page-header__mobile-part & {
      padding: 10px 0;
      &__icon-holder {
        min-width: 26px;
        margin-right: 0;
      }
    }
  }
}