mixin article-card(params)
    +b.A.article-card
        +e.img-holder
            +e.IMG.img(src='../assets/img/article-card-img.jpg' alt='Cрочный ПЦР-тест на COVID-19 за 45 минут!')
        +e.content
            +e.title Cрочный ПЦР-тест на COVID-19 за 45 минут!
            +e.text
                +e.SPAN.desc Только в филиалах у метро Киевская, Молодежная, Отрадное и в Одинцово срочный ПЦР-тест на COVID-19 -
                +e.SPAN.price.text-accent  2 700&nbsp;руб