include ../alphabet/alphabet
mixin accordion(params)
    - var isBig = params&&params.mod === 'big';
    +b.SECTION.accordion(class=params&&params.mod?'_'+params.mod:'')
        +e.UL.list
            - for(var i = 0; i < 3; i++) {
                +e.LI.item
                    +e.item-heading
                        if !isBig
                            +svgUse(18, 11, 'icon-arrow-down-s')(class='accordion__arrow')
                            +e.item-heading-text В личном кабинете пациента
                        if isBig
                            +e.item-heading-text Анализы по органам и системам организма
                            +svgUse(16, 16, 'icon-close')(class='accordion__toggle')
                    +e.item-content
                        if !isBig
                            p В личном кабинете результаты анализов появляются сразу же, как только они готовы. А еще там хранится архив результатов.
                            p
                                a(href='#') Войти в кабинет
                        if isBig
                            +alphabet()
            - }
