mixin accordion()
    +b.SECTION.accordion
        .content-center
            +e.H2.title.h3 Как узнать результаты анализов
            +e.UL.list
                +e.LI.item
                    +e.item-heading
                        +svgUse(18, 11, 'icon-arrow-down-s')(class='accordion__arrow')
                        +e.item-heading-text В личном кабинете пациента
                    +e.item-content
                        p В личном кабинете результаты анализов появляются сразу же, как только они готовы. А еще там хранится архив результатов.
                        p
                            a(href='#') Войти в кабинет
                +e.LI.item
                    +e.item-heading
                        +svgUse(18, 11, 'icon-arrow-down-s')(class='accordion__arrow')
                        +e.item-heading-text По электронной почте
                    +e.item-content
                        p В личном кабинете результаты анализов появляются сразу же, как только они готовы. А еще там хранится архив результатов.
                        p
                            a(href='#') Войти в кабинет
                +e.LI.item
                    +e.item-heading
                        +svgUse(18, 11, 'icon-arrow-down-s')(class='accordion__arrow')
                        +e.item-heading-text По электронной почте
                    +e.item-content
                        p В личном кабинете результаты анализов появляются сразу же, как только они готовы. А еще там хранится архив результатов.
                        p
                            a(href='#') Войти в кабинет