.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-white;
  box-shadow: 0px 2px 12px rgba(34, 87, 142, 0.1);
  &__logo {
    align-self: center;
    margin-bottom: -5px;
  }
  &__top {
    border-bottom: 1px solid $color-border;
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: 68px;
  }
}