include ../top-menu/top-menu
include ../search-line/search-line
mixin page-header()
    +b.HEADER.page-header
        +e.top
            .content-center
                +e.container
                    +e.BUTTON.toggle
                        +svgUse(16, 20, 'icon-mobile-menu')(class='page-header__toggle-icon')
                        +e.toggle-text.bvi-show Меню
                    +e.A.logo(href='/')
                        +svgUse(140, 36, 'logo-header')
                    +b.A.icon-link._icon-accent._text-secondary._no-text-mobile._text-uppercase(href='#')
                        +e.SPAN.icon-holder
                            +svgUse(16, 20, 'icon-pin')(class='icon-link__icon')
                        +e.SPAN.text Адреса медицинских центров
                    +b.A.icon-link._icon-accent._icon-dark-mobile._text-bigger._no-brake._no-text-mobile(href='tel:+74951212578')
                        +e.SPAN.icon-holder
                            +svgUse(30, 23, 'icon-call-time')(class='icon-link__icon')
                        +e.SPAN.text +7 (495) 121-25-78
                    +b.A.icon-link._icon-dark-mobile._no-text-mobile._text-uppercase.page-header__search-icon(href='#')
                        +e.SPAN.icon-holder
                            +svgUse(16, 16, 'icon-search')(class='icon-link__icon')
                        +e.SPAN.text Поиск анализов
                    +b.A.icon-link._text-uppercase.is-hide-mobile(href='#')
                        +e.SPAN.icon-holder
                            +svgUse(16, 20, 'icon-doc')(class='icon-link__icon')
                        +e.SPAN.text Получить результат
                    +e.profile-holder
                        +b.profile-compact
                            +e.A.link(href='javascript:;')
                                +svgUse(16, 16, 'icon-profile')(class='profile-compact__icon')
                                span.bvi-show Меню профиля
                                +e.SPAN.arrow.svg-icon-arrow-down-s.svg-icon-arrow-down-s-dims
                            +e.dropdown
                    +e.cart-holder
                        +b.cart-compact
                            +e.A.link(href='javascript:;')
                                +svgUse(20, 20, 'icon-cart')(class='cart-compact__icon')
                                span.bvi-show Корзина
                                +e.SPAN.counter 12
                            +e.dropdown
        +e.menu-holder
            +e.BUTTON.toggle._close
                +svgUse(16, 16, 'icon-close')(class='page-header__toggle-icon')
                +e.toggle-text.bvi-show Закрыть меню
            +top-menu()
            +e.mobile-part
                .content-center
                    +e.mobile-link
                        +b.A.icon-link(href='#')
                            +e.SPAN.icon-holder
                                +svgUse(14, 16, 'icon-doc')(class='icon-link__icon')
                            +e.SPAN.text Получить результат
                    +e.mobile-link
                        +b.A.icon-link(href='#')
                            +e.SPAN.icon-holder
                                +svgUse(12, 16, 'icon-pin')(class='icon-link__icon')
                            +e.SPAN.text Адреса медицинских центров
                    +e.mobile-link
                        +b.A.icon-link._no-brake(href='tel:+74951212578')
                            +e.SPAN.icon-holder
                                +svgUse(26, 23, 'icon-call-time')(class='icon-link__icon')
                            +e.SPAN.text +7 (495) 121-25-78
                    +e.mobile-search-line
                        +search-line({placeholder: 'Поиск анализов', template: 'mobile-menu'})





