include ../top-menu/top-menu

mixin page-header()
    +b.HEADER.page-header
        +e.top
            .content-center
                +e.container
                    +e.A.logo(href='/')
                        +svgUse(140, 36, 'logo-header')
                    +e.link-holder
                        +b.A.icon-link._icon-accent._text-secondary(href='#')
                            +svgUse(16, 20, 'icon-pin')(class='icon-link__icon')
                            +e.SPAN.text Адреса медицинских центров
                    +e.link-holder
                        +b.A.icon-link._icon-accent._text-bigger(href='tel:+74951212578')
                            +svgUse(30, 23, 'icon-call-time')(class='icon-link__icon')
                            +e.SPAN.text +7 (495) 121-25-78
                    +e.link-holder.push-from-left
                        +b.A.icon-link(href='#')
                            +svgUse(16, 16, 'icon-search')(class='icon-link__icon')
                            +e.SPAN.text Поиск анализов
                    +e.link-holder
                        +b.A.icon-link(href='#')
                            +svgUse(16, 20, 'icon-doc')(class='icon-link__icon')
                            +e.SPAN.text Получить результат
                    +e.profile-holder
                        +b.profile-compact
                            +e.A.link(href='javascript:;')
                                +svgUse(16, 16, 'icon-profile')(class='profile-compact__icon')
                                span.bvi-show Меню профиля
                                +e.SPAN.arrow.svg-icon-arrow-down-s.svg-icon-arrow-down-s-dims
                            +e.dropdown
                    +e.cart-holder
                        +b.cart-compact
                            +e.A.link(href='javascript:;')
                                +svgUse(20, 20, 'icon-cart')(class='cart-compact__icon')
                                span.bvi-show Корзина
                                +e.SPAN.counter 12
                            +e.dropdown
        +e.menu-holder
            +top-menu()



