mixin compact-card(params)
    - var mod = params&&params.mod?'_'+params.mod:'';
    +b.ARTICLE.compact-card(class=mod)
        +e.content
            +e.code
                +e.SPAN.code-title Исследование /
                +e.SPAN.code-number  1.0.D1.202
            +e.A.title(href='#') Кортизол в слюне, метод ВЭЖХ-МС
            +e.content-bottom
                +e.UL.tags
                    +e.LI.tag кровь с EDTA
                    +e.LI.tag количественный
                if params && params.limits
                    +e.note Есть #[a(href='#') ограничения]
        +e.duration
            +svgUse(18, 18, 'icon-clock')(class='compact-card__duration-icon')
            +e.duration-text 1 день
        +e.footer
            if params&&params.discount
                +e.price._discount
                    +e.old-price 3 600 #[span.rub ₽]
                    +e.current-price 2 600 #[span.rub ₽]
            else
                +e.price 2 600 #[span.rub ₽]
            if params&&params.onlyRemove
                +e.BUTTON.remove.button.button_control
                    +svgUse(14, 14, 'icon-close')
            else
                +e.BUTTON.add.button.button_cart(class=params&&params.added?'is-added':'')
                    span.button__inner
                        +svgUse(18, 18, 'icon-cart')(class='compact-card__add-icon')
                    span.button__remove
                        +svgUse(7, 7, 'icon-close')(class='compact-card__remove-icon')
mixin compact-card-extra(params)
    +b.ARTICLE.compact-card._cart-extra
        +e.content
            +e.code
                +e.SPAN.code-title Исследование /
                +e.SPAN.code-number  1.0.D1.202
            +e.A.title(href='#') Взятие венозной крови
        +e.footer
            if params&&params.discount
                +e.price._discount
                    +e.old-price 3 600 #[span.rub ₽]
                    +e.current-price 2 600 #[span.rub ₽]
            else
                +e.price 200 #[span.rub ₽]