.page-cols {
  @media #{$media-not-mobile} {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-areas:
            "title side"
            "main side";
    gap: 0 50px;
    &_no-title {
      grid-template-areas: "main side";
    }
    &__title {
      grid-area: title;
    }
    &__main-col {
      grid-area: main;
    }
    &__side-col {
      position: relative;
      grid-area: side;
    }
  }
  &__main-col {
    &_cart {
      @media #{$media-mobile} {
        display: flex;
        flex-direction: column;
        .cart-cards-list:first-of-type {
          order: 1;
        }
        .cart-cards-list:last-of-type {
          order: 4;
        }
        .search-line {
          order: 2;
        }
        .h3 {
          order: 3;
        }
      }
    }
  }
}