.main-screen {
  position: relative;
  &__bg-holder {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(89.84deg, #1B77DC -0.35%, #35A8EA 99.03%);
    }
    @media #{$media-mobile} {
      bottom: 60px;
    }
  }
  &__bg-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .2;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-white;
    @media #{$media-not-mobile} {
      justify-content: center;
      height: 800px;
    }
    @media #{$media-mobile} {
      padding-top: 85px;
    }
  }
  &__title {
    margin-bottom: 15px;
    font-weight: $font-weight-medium;
    font-size: 36px;
    line-height: 1.3;
    @media #{$media-mobile} {
      margin-bottom: 20px;
      font-size: 26px;
    }
  }
  &__title-part {
    @media #{$media-mobile} {
      display: inline-block;
      font-weight: $font-weight-normal;
      font-size: 17px;
    }
  }
  &__subtitle {
    margin-bottom: 35px;
    font-weight: $font-weight-normal;
    font-size: 17px;
    line-height: 1.2;
    text-transform: uppercase;
    @media #{$media-mobile} {
      margin-bottom: 15px;
      font-size: 14px;
    }
  }
  &__search {
    width: 830px;
    max-width: 100%;
    margin: 0 auto 125px;
    @media #{$media-mobile} {
      margin-bottom: 50px;
    }
  }
  &__menu {
    padding: 0 30px;
    background-color: $color-white;
    @media #{$media-mobile} {
      box-shadow: 0px 3px 10px rgba(0, 114, 232, 0.2);
    }
    @media #{$media-not-mobile} {
      display: flex;
      padding: 15px 0;
    }
  }
  &__menu-item {
    flex-grow: 1;
    @media #{$media-mobile} {
      border-bottom: 1px solid #D5E7FE;
    }
    @media #{$media-not-mobile} {
      width: 33%;
      border-right: 1px solid #D5E7FE;
    }
    &:last-child {
      border: none;
    }
    .icon-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 100%;
      padding: 0 15px;
      &__icon-holder {
        margin-right: 15px;
      }
      @media #{$media-mobile} {
        height: auto;
        padding: 25px 0;
      }
    }
  }
}