.fancybox__backdrop {
  background-color: rgba(14, 63, 96, .96);
}
.fancybox__content {
  box-shadow: 0 2px 10px rgba(34, 87, 142, .19);
  border-radius: 6px;
  @media #{$media-phone-landscape} {
    padding: 15px 10px 15px 15px;
  }
}
.fancybox__content>.carousel__button.is-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, .84);
  opacity: .5;
  svg {
    width: 12px;
    height: 12px;
    fill: rgba(255, 255, 255, .84);
  }
  &:hover {
    opacity: 1;
  }
  @media screen and (min-width: 1120px) {
    top: 0;
    right: -40px;
  }
}