//Дополнения плагина slick
.slick-dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  li {
    button {
      width: 6px;
      height: 6px;
      font-size: 0;
      border: none;
      border-radius: 6px;
      background-color: #E6E9EE;
    }
    &.slick-active {
      button {
        background: linear-gradient(89.84deg, #1B77DC -0.35%, #35A8EA 99.03%);
      }
    }
  }
}