.text-styles h1, .h1 {
  margin-bottom: 30px;
  font-weight: $font-weight-medium;
  font-size: 30px;
  line-height: 1.6;
  @media #{$media-mobile} {
    font-size: 26px;
  }
}

.text-styles h2, .h2{
  margin-bottom: 30px;
  font-weight: $font-weight-medium;
  font-size: 30px;
  line-height: 1.6;
  @media #{$media-mobile} {
    font-size: 26px;
    line-height: 1.3;
  }
}
.text-styles h3, .h3 {
  margin-bottom: 30px;
  font-weight: $font-weight-medium;
  font-size: 26px;
  line-height: 1.6;
  @media #{$media-mobile} {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.3;
  }
}

.text-accent {
  color: $color-accent;
}

.check-list {
  &__item {
    position: relative;
    padding-left: 20px;
    font-size: 15px;
    line-height: 1.7;
    color: $color-text-light;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.5em;
      width: 10px;
      height: 8px;
      background-image: url('../../assets/img/icon-check-colored.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.no-brake {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-styles {
  b {
    font-weight: $font-weight-medium;
  }
}