mixin category-nav(params)
    - var isNav = params&&params.isNav?'_nav':'';
    +b.category-nav(class=isNav)
        +e.UL.list
            each item in params.items
                +e.LI.item
                    +e.A.link(href='#')= item.name
                    if item.count
                        +e.SPAN.count= item.count