include ../complex-card/complex-card
mixin complex-selection-wrap(isCompact)
    if (!!isCompact)
        block
    else
        .content-center
            block
mixin complex-selection(params)
    - var isCompact = params&&params.isCompact;
    +b.SECTION.complex-selection(class=isCompact?'_compact':'')
        +complex-selection-wrap(isCompact)
            +e.content
                +e.H2.title(class=isCompact?'h3':'h2') Популярные комплексы анализов
                if isCompact
                    +e.list
                        +e.item._big(class=params&&params.wideFirst?'_wide':'')
                            +complex-card({
                                img: '../assets/img/complex-card-img.png',
                                imgMob: '../assets/img/complex-card-img-mob.png',
                                isBig: true,
                                isWide: true
                            })
                        if (!(params&&params.wideFirst))
                            +e.item._big
                                +complex-card({
                                    img: '../assets/img/complex-card-img.png',
                                    imgMob: '../assets/img/complex-card-img-mob.png',
                                    isBig: true,
                                    isWide: true
                                })
                    +e.list-compact
                        +e.item
                            +compact-card()
                        +e.item
                            +compact-card()
                        +e.item
                            +compact-card()
                        +e.item
                            +compact-card()
                else
                    +e.list
                        +e.item._big
                            +complex-card({img: '../assets/img/complex-card-img.png', imgMob: '../assets/img/complex-card-img-mob.png', isBig: true})
                        +e.item._big
                            +complex-card({img: '../assets/img/complex-card-img.png', imgMob: '../assets/img/complex-card-img-mob.png', isBig: true})
                        +e.item
                            +complex-card()
                        +e.item
                            +complex-card()
                        +e.item
                            +complex-card()
                        +e.item
                            +complex-card()
                        +e.item
                            +complex-card()
                        +e.item
                            +complex-card()
                    +e.buttons
                        a.button.button_stroke(href='#') Все комплексы