.complex-selection {
  $self: &;
  margin: 115px 0 100px;
  .page-cols__main-col & {
    margin: 50px 0;
  }
  @media #{$media-mobile} {
    margin: 50px 0 60px;
    overflow: hidden;
    .page-cols__main-col & {
      margin-bottom: 30px;
      overflow: visible;
    }
  }
  &__content {
    display: grid;
    grid-template-areas:
    "title buttons"
    "list list"
    "list-compact list-compact";
    @media #{$media-phone-landscape} {
      display: block;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
    grid-area: list;
    @media #{$media-phone-landscape} {
      display: block;
      margin: 0 0 20px;
    }
  }
  &__list-compact {
    grid-area: list-compact;
    margin-top: 40px;
    @media #{$media-phone-landscape} {
      margin-top: 15px;
    }
  }
  &__item {
    &_wide {
      grid-column: 1/3;
    }
    @media #{$media-phone-landscape} {
      margin: 10px 0;
      &:nth-last-child(3) {
        display: none;
      }
    }
  }
  &__title {
    grid-area: title;
    @media #{$media-not-mobile} {
      margin-bottom: 45px;
    }
  }
  &__buttons {
    grid-area: buttons;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 45px;
    flex-direction: row-reverse;
    @media #{$media-phone-landscape} {
      margin-bottom: 0;
      flex-direction: row;
      justify-content: center;
    }
  }
  &__slider-nav {
    display: none;
    @media #{$media-mobile} {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}