mixin alphabet()
    - var items = ['Ю', 'Я', 'A', 'Иммунная система', 'Костная система', 'Желудочно-кишечный тракт', 'Костно-мышечная система', 'Кроветворение', 'Надпочечники', 'Нервная система', 'Обследование (чекап)', 'Паращитовидная железа', 'Печень', 'Поджелудочная железа','Почки','Предстательная железа','Репродуктивная система (половые гормоны)','Сердечно-сосудистая система','Система гемостаза (свертывание крови)','Суставы','Щитовидная железа']
    +b.SECTION.alphabet
        //
            Принимает просто список тэгов А, далее сам через js сортирует, форматирует и маркирует
        each item in items
            +e.A.item(href='#')= item