.service-card {
  $self: &;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  background-color: $color-white;
  box-shadow: 0 0 6px rgba(34, 87, 142, 0.09);
  border-radius: 3px;
  overflow: hidden;
  &_double {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $color-bg-light;
    box-shadow: none;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 17px 20px 12px;
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 20px 12px;
    #{$self}_double & {
      width: 45%;
      flex-grow: 0;
    }
  }
  &__img-holder {
    width: 45%;
    margin-left: auto;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom right;
  }
  &__code {
    font-size: 14px;
    line-height: 1.57;
    color: $color-text-light;
  }
  &__duration {
    display: flex;
    align-items: center;
    color: $color-accent;
  }
  &__duration-icon {
    fill: currentColor;
    margin-right: 5px;
  }
  &__title {
    margin-bottom: auto;
    font-weight: $font-weight-medium;
    font-size: 18px;
    line-height: 1.44;
    color: $color-text;
  }
  &__title-note {
    font-weight: $font-weight-normal;
    font-size: 16px;
    color: $color-text-light;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 13px;
  }
  &__tag {
    display: flex;
    font-size: 13px;
    line-height: 1.7;
    color: $color-text-light;
    &:after {
      content: '|';
      margin: 0 .2rem;
    }
    &:last-child:after {
      display: none;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px dashed $color-border-dotted;
  }
  &__price {
    font-weight: $font-weight-semibold;
    font-size: 20px;
    line-height: 1.2;
  }
  &__add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 60px;
    background-color: $color-white;
    border: 0;
    box-shadow: 0px 2px 6px rgba(34, 87, 142, 0.15);
  }
}