.service-card {
  $self: &;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  background-color: $color-white;
  box-shadow: 0 0 6px rgba(34, 87, 142, 0.09);
  border-radius: 3px;
  overflow: hidden;
  @media #{$media-mobile} {
    box-shadow: 0 3px 14px rgba(34, 87, 142, 0.23);
  }
  &_double {
    background-color: $color-bg-light;
    box-shadow: none;
    @media #{$media-not-mobile} {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 20px 12px;
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 20px 12px;
    #{$self}_double & {
      width: 45%;
      @media #{$media-not-mobile} {
        flex-grow: 0;
      }
      @media #{$media-mobile} {
        position: relative;
        z-index: 5;
        width: 80%;
      }
    }
  }
  &__img-holder {
    width: 43%;
    margin-left: auto;
    @media #{$media-mobile} {
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom right;
  }
  &__code {
    font-size: 14px;
    line-height: 1.57;
    color: $color-text-light;
    @media #{$media-mobile} {
      font-size: 12px;
    }
  }
  &__duration {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $color-accent;
    text-transform: uppercase;
    @media #{$media-mobile} {
      font-size: 10px;
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
  &__duration-icon {
    fill: currentColor;
    margin-right: 5px;
  }
  &__title {
    margin-bottom: auto;
    font-weight: $font-weight-medium;
    font-size: 18px;
    line-height: 1.44;
    color: $color-text;
    @media #{$media-mobile} {
      font-size: 15px;
      line-height: 1.6;
    }
  }
  &__title-note {
    font-weight: $font-weight-normal;
    font-size: 16px;
    color: $color-text-light;
    @media #{$media-mobile} {
      font-size: 14px;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 13px;
  }
  &__tag {
    display: flex;
    font-size: 13px;
    line-height: 1.7;
    color: $color-text-light;
    &:after {
      content: '|';
      margin: 0 .2rem;
    }
    &:last-child:after {
      display: none;
    }
    @media #{$media-mobile} {
      font-size: 12px;
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px dashed $color-border-dotted;
  }
  &__price {
    font-weight: $font-weight-semibold;
    font-size: 20px;
    line-height: 1.2;
    white-space: nowrap;
    @media #{$media-mobile} {
      font-size: 18px;
    }
  }
}