mixin service-card(params)
    - var mod = params&&params.mod?'_'+params.mod:'';
    +b.ARTICLE.service-card(class=mod+' cart-btn-parent')
        +e.header
            +e.code 1.0.D1.202
            +e.duration
                +svgUse(18, 18, 'icon-clock')(class='service-card__duration-icon')
                +e.duration-text 1 день
        +e.content
            +e.A.title(href='#') Кортизол в слюне, метод ВЭЖХ-МС
                +e.SPAN.title-note  (две порции: утро, вечер)
            +e.UL.tags
                +e.LI.tag кровь с EDTA
                +e.LI.tag количественный
            +e.footer
                +e.price 2 600 #[span.rub ₽]
                +e.BUTTON.add.button.button_cart(class=params && params.added ? 'is-added' : '')
                    span.button__inner
                        +svgUse(18, 18, 'icon-cart')
                    span.button__remove
                        +svgUse(7, 7, 'icon-close')
        if params&&params.img
            +e.img-holder
                +e.IMG.img(src=params.img)