.specials {
  $self: &;
  margin: 90px 0;
  overflow: hidden;
  .page-cols__main-col & {
    margin: 50px 0 60px;
  }
  @media #{$media-mobile} {
    margin: 60px 0;
    .page-cols__main-col & {
      margin: 30px -15px 60px;
      padding: 0 15px;
    }
  }
  &__content {
    position: relative;
    display: grid;
    grid-template-areas:
      "title buttons"
      "tabs tabs";
    @media #{$media-phone-landscape} {
      display: block;
    }
  }
  &__tabs {
    grid-area: tabs;
  }
  &__list {
    margin: 0 -15px;
    #{$self}_compact & {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin: 0;
    }
    @media #{$media-mobile} {
      margin: 0 65px 15px -5px;
      .slick-list {
        overflow: visible;
      }
      #{$self}_compact & {
        margin: 0;
      }
    }
    @media #{$media-phone} {
      #{$self}_compact & {
        display: block;
        margin: 0 65px 15px -5px;
      }
    }
  }
  &__item {
    margin: 0 15px;
    #{$self}_compact & {
      margin: 0;
      &:nth-child(n+3) {
        display: none;
      }
    }
    @media #{$media-mobile} {
      margin: 0 5px;
    }
    @media #{$media-phone} {
      #{$self}_compact & {
        margin: 0 5px;
        &:nth-child(n+3) {
          display: block;
        }
      }
    }
  }
  &__title {
    grid-area: title;
    @media #{$media-not-mobile} {
      margin-bottom: 45px;
    }
    &_tabs-links {
      color: $color-secondary-light;
      a {
        position: relative;
        color: $color-secondary-light;
        &:after {
          content: '';
          position: absolute;
          bottom: 0.1em;
          left: 0;
          display: block;
          width: 100%;
          border-bottom: 1.5px solid $transparent;
        }
        &:hover {
          text-decoration: none;
          &:after {
            border-color: currentColor;
          }
        }
        &.is-active {
          color: $color-black;
          &:after {
            border-color: currentColor;
          }
        }
      }
    }
  }
  &__buttons {
    grid-area: buttons;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 45px;
    flex-direction: row-reverse;
    @media #{$media-phone-landscape} {
      justify-content: center;
      flex-direction: row;
      margin-bottom: 0;
      #{$self}_compact & {
        margin-top: 30px;
      }
    }
  }
  &__slider-nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    #{$self}_compact & {
      display: none;
    }
    @media #{$media-not-mobile} {
      margin-top: 35px;
    }
    @media #{$media-desktop} {
      justify-content: center;
    }
    @media #{$media-phone} {
      #{$self}_compact & {
        display: flex;
      }
    }
  }
  &__slider-arrow {
    @media #{$media-desktop} {
      position: absolute;
      top: 190px;
      &.button_prev {
        left: -65px;
      }
      &.button_next {
        right: -65px;
      }
    }
  }
}