mixin information()
    +b.SECTION.information
        .content-center
            +e.content
                +e.icon-holder
                    +svgUse(29, 26, 'icon-home')
                +e.text-content.text-styles
                    +e.title Не&nbsp;хотите или не&nbsp;можете приехать в&nbsp;медицинский центр?
                    +e.text #[span.text-accent Мы сами приедем к&nbsp;Вам!] Сдавайте анализы в&nbsp;привычной домашней атмосфере!
                +e.A.button.button.button_accent(href='#') Сдать анализы на дому