.information {
  padding: 40px 0;
  box-shadow: 0 2px 12px rgba(34, 87, 142, 0.1);
  &__icon-holder {
    svg {
      fill: $color-accent;
      @media #{$media-mobile} {
        display: none;
      }
    }
  }
  &__content {
    @media #{$media-mobile} {
      text-align: center;
    }
    @media #{$media-not-mobile} {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  }
  &__title {
    font-weight: $font-weight-medium;
    font-size: 16px;
    line-height: 1.75;
    color: $color-black;
    @media #{$media-mobile} {
      margin-bottom: 6px;
      font-size: 15px;
      line-height: 1.47;
    }
  }
  &__text {
    font-size: 16px;
    color: $color-text-light;
    line-height: 1.75;
    @media #{$media-mobile} {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 1.57;
    }
  }
  &__button {
    margin-left: auto;
    @media #{$media-mobile} {
      display: inline-block;
    }
  }
}