.cards-block {
  $self: &;
  margin: 100px 0 80px;
  @media #{$media-mobile} {
    margin: 50px 0 60px;
    overflow: hidden;
  }
  &__content {
    display: grid;
    grid-template-areas:
      "title buttons"
      "list list"
      "nav nav";
    @media #{$media-phone-landscape} {
      display: block;
    }
  }
  &__list {
    grid-area: list;
    @media #{$media-mobile} {
      margin: 0 45px 15px -5px;
      .slick-list {
        overflow: visible;
      }
    }
    @media #{$media-not-mobile} {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__item {
    @media #{$media-mobile} {
      margin: 0 5px;
    }
    @media #{$media-not-mobile} {
      width: calc(25% - 90px/4);
      &_double {
        width: calc(50% - 15px);
      }
    }
  }
  &__title {
    grid-area: title;
    @media #{$media-not-mobile} {
      margin-bottom: 45px;
    }
  }
  &__buttons {
    grid-area: buttons;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 45px;
    flex-direction: row-reverse;
    @media #{$media-phone-landscape} {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 0;
    }
  }
  &__slider-nav {
    display: none;
    @media #{$media-mobile} {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      grid-area: nav;
    }
  }
}