.cards-block {
  $self: &;
  margin: 100px 0 80px;
  &_compact {
    margin: 45px 0;
  }
  @media #{$media-mobile} {
    margin: 50px 0 60px;
    overflow: hidden;
  }
  @media #{$media-phone} {
    &_compact {
      margin: 30px 0 60px;
    }
  }
  &__content {
    display: grid;
    grid-template-areas:
      "title buttons"
      "list list"
      "nav nav";
    @media #{$media-phone-landscape} {
      display: block;
    }
  }
  &__list {
    grid-area: list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media #{$media-mobile} {
      display: block;
      margin: 0 45px 15px -5px;
      #{$self}_compact & {
        margin: 0;
      }
      .slick-list {
        overflow: visible;
      }
    }
    #{$self}_compact & {
      gap: 0;
      @media #{$media-phone} {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &_nano {
          gap: 0;
        }
      }
    }
  }
  &__item {
    @media #{$media-mobile} {
      margin: 0 5px;
    }
    @media #{$media-not-mobile} {
      width: calc(25% - 90px/4);
      &_double {
        width: calc(50% - 15px);
      }
      #{$self}_compact & {
        width: 100%;
      }
    }
    @media #{$media-phone} {
      #{$self}_compact & {
        margin: 0;
      }
    }
  }
  &__title {
    grid-area: title;
    @media #{$media-not-mobile} {
      margin-bottom: 45px;
    }
    #{$self}_compact & {
      margin-bottom: 30px;
      @media #{$media-phone} {
        margin-bottom: 15px;
      }
    }
  }
  &__group {
    grid-area: list;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__buttons {
    grid-area: buttons;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 45px;
    flex-direction: row-reverse;
    @media #{$media-phone-landscape} {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 0;
    }
  }
  &__slider-nav {
    display: none;
    @media #{$media-mobile} {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      grid-area: nav;
    }
  }
  &__show-all {
    display: flex;
    padding: 20px 0;
    font-size: 14px;
    text-decoration: none;
    @media #{$media-phone} {
      justify-content: center;
    }
  }
  &__show-all-counter {
    margin-left: 0.5em;
    color:rgba(28, 122, 221, 0.62);
  }
}