include ../service-card/service-card
mixin cards-block()
    +b.SECTION.cards-block
        .content-center
            +e.content
                +e.H2.title.h2 Популярные исследования
                +e.list
                    +e.item
                        +service-card()
                    +e.item
                        +service-card()
                    +e.item._double
                        +service-card({img: '../assets/img/service-card-img.png', mod: 'double'})
                    +e.item
                        +service-card()
                    +e.item
                        +service-card()
                    +e.item
                        +service-card()
                    +e.item
                        +service-card()
                +e.slider-nav
                    +e.BUTTON.slider-arrow.button._control._prev
                        +svgUse(10, 8, 'icon-arrow-down-s')
                    +e.slider-pages
                    +e.BUTTON.slider-arrow.button._control._next
                        +svgUse(10, 8, 'icon-arrow-down-s')
                +e.buttons
                    a.button.button_stroke(href='#') Все виды исследований