include ../service-card/service-card
include ../compact-card/compact-card
mixin cards-block(params)
    +b.SECTION.cards-block
        .content-center
            +e.content
                +e.H2.title.h2 Популярные исследования
                +e.list
                    +e.item
                        +service-card()
                    +e.item
                        +service-card()
                    if !isCompact
                        +e.item._double
                            +service-card({img: '../assets/img/service-card-img.png', mod: 'double'})
                    +e.item
                        +service-card()
                    +e.item
                        +service-card()
                    +e.item
                        +service-card()
                    +e.item
                        +service-card()
                +e.slider-nav
                    +e.BUTTON.slider-arrow.button._control._prev
                        +svgUse(10, 8, 'icon-arrow-down-s')
                    +e.slider-pages
                    +e.BUTTON.slider-arrow.button._control._next
                        +svgUse(10, 8, 'icon-arrow-down-s')
                +e.buttons
                    a.button.button_stroke(href='#') Все виды исследований
mixin cards-groups-wrap(isGroup)
    if (!!isGroup)
        +e.group
            +e.H3.group-title.h4 Общий анализ крови
            block
    else
        block
mixin cards-block-compact(params)
    - var isGroup = params&&params.isGroup;
    - var noTitle = params&&params.noTitle;
    +b.SECTION.cards-block._compact
        +e.content
            if !noTitle
                +e.H2.title.h3 Популярные исследования
            +cards-groups-wrap(isGroup)
                +e.list(data-compact=true)
                    +e.item
                        +compact-card()
                    +e.item
                        +compact-card()
                    +e.item
                        +compact-card({added: true})
                    +e.item
                        +compact-card({discount: true, limits: true})
            if (isGroup)
                +cards-groups-wrap(isGroup)
                    +e.list(data-compact=true)
                        +e.item
                            +compact-card()
                        +e.item
                            +compact-card()
mixin cards-block-extra(params)
    +b.SECTION.cards-block._compact
        +e.content
            +e.H2.title.h3 Группа крови и Резус-фактор
            +e.group
                +e.H3.group-title.h4 Общий анализ крови
                +e.list(data-compact=true)
                    +e.item
                        +compact-card()