include ../../../node_modules/bemto.pug/bemto.pug
include ../library/helpers/svgUse
doctype html
html(lang='ru')
    block head
        include ../library/head
    block body
        .modal-content
            block content
