mixin info-block()
    +b.info-block
        +e.icon-holder
            +e.IMG.icon(src='../assets/img/info.svg')
        +e.text Этот анализ принимается по сокращённому графику. Это связано с тем, что биоматериал должен попасть в лабораторию в очень короткий срок. Проверьте расписание сокращённого графика приёма на странице вашего отделения. При сдаче вне графика срок выполнения исследования может быть увеличен на 1-3 дня.
