head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
    link(href="../assets/fonts/PTRouble/RUBSN.woff2" rel="preload" as="font")

    link(rel="stylesheet" href="../assets/vendor/bvi/css/bvi.min.css" type="text/css")
    link(rel="stylesheet" href="../assets/vendor/slick/slick.css" type="text/css")
    link(rel="stylesheet" href="../assets/vendor/select2/select2.css" type="text/css")
    link(rel="stylesheet" href="./svg/css/sprite.css" type="text/css")
    link(rel="stylesheet" href="../assets/vendor/fancybox/fancybox.css")
    link(href='./css/global.css' type="text/css" rel='stylesheet')

    script(src="../assets/vendor/bvi/js/bvi.js")
    script(src="../assets/vendor/jquery/jquery-3.6.0.min.js")
    script(src="../assets/vendor/slick/slick.min.js")
    script(src="../assets/vendor/select2/select2.min.js")
    script(src="../assets/vendor/sameheight/jquery.sameheight.js")
    script(src="../assets/vendor/jquery.maskedinput/jquery.maskedinput.js")
    script(src="../assets/vendor/fancybox/fancybox.umd.js")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    script(src='./js/global.js')
    script(src='./js/blocks.js')

    title #{'Citimed - ' + $pageTitle}
