extends ./layouts/default
include ../blocks/search-line/search-line
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/service-buttons/service-buttons
include ../blocks/cards-block/cards-block
include ../blocks/complex-selection/complex-selection
include ../blocks/specials/specials
include ../blocks/accordion/accordion
include ../blocks/map-block/map-block
include ../blocks/faq-block/faq-block
include ../blocks/catalog-nav/catalog-nav
include ../blocks/info-bar/info-bar
include ../blocks/cart-panel/cart-panel
include ../blocks/category-nav/category-nav
include ../blocks/anchors-block/anchors-block
include ../blocks/mobile-nav-holder/mobile-nav-holder
block global_vars
    -
        $bodyMods = ['']
        $pageTitle = 'Анализ крови'

block content
    main.page-content
        +search-line({placeholder: 'Быстрый поиск нужного исследования...', placeholderMobile:'Поиск нужного исследования...', btnText: 'Найти исследование', template: 'panel', instant: true})
        +breadcrumbs({items:[{name: 'Главная', href: 'index.html'},{name: 'Анализы', href: 'catalog.html'}, {name: 'Анализ крови'}]})
        .content-center
            +b.page-cols
                +e.title
                    h1.h2= $pageTitle
                +e.side-col
                    .hide-mobile
                        +catalog-nav()
                        +info-bar()
                        +cart-panel()
                        +catalog-nav()
                +e.main-col
                    +category-nav({isNav: true, items: [
                            {
                                name: 'Комплексная диагностика',
                                count: 13
                            },
                            {
                                name: 'Белковый и аминокислотный обмен',
                                count: 16
                            },
                            {
                                name: 'Витамины',
                                count: 20
                            },
                            {
                                name: 'Углеводный обмен',
                                count: 11
                            },
                            {
                                name: 'Липидный обмен',
                                count: 19
                            },
                            {
                                name: 'Обмен железа',
                                count: 7
                            },
                            {
                                name: 'Кардиомаркёры',
                                count: 4
                            },
                            {
                                name: 'Антиоксидантный статус',
                                count: 44
                            },
                            {
                                name: 'Ферменты',
                                count: 29
                            },
                            {
                                name: 'Пигментный обмен',
                                count: 6
                            },
                            {
                                name: 'Специфические белки крови',
                                count: 9
                            },
                            {
                                name: 'Диагностика патологии печени без биопсии',
                                count: 7
                            },
                            {
                                name: 'Маркёры состояния костной ткани',
                                count: 2
                            },
                            {
                                name: 'Макро- и микроэлементы',
                                count: 106
                            }]})
                    +service-buttons()
                    +cards-block-compact({isGroup: true})
                    +cards-block-extra()
                    +complex-selection({isCompact: true, wideFirst: true})
                    .hide-desktop
                        +info-bar()
                        +mobile-nav-holder()
                    +anchors-block()
        +map-block()
        +faq-block()