extends ./layouts/default
include ../blocks/search-line/search-line
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/service-buttons/service-buttons
include ../blocks/cards-block/cards-block
include ../blocks/complex-selection/complex-selection
include ../blocks/specials/specials
include ../blocks/accordion/accordion
include ../blocks/map-block/map-block
include ../blocks/faq-block/faq-block
include ../blocks/catalog-nav/catalog-nav
include ../blocks/info-bar/info-bar
include ../blocks/cart-panel/cart-panel
include ../blocks/category-nav/category-nav
include ../blocks/seo-tabs/seo-tabs
include ../blocks/mobile-nav-holder/mobile-nav-holder
block global_vars
    -
        $bodyMods = ['']
        $pageTitle = 'Комплексные исследования'

block content
    main.page-content
        +search-line({placeholder: 'Быстрый поиск нужного исследования...', placeholderMobile:'Поиск нужного исследования...', btnText: 'Найти исследование', template: 'panel'})
        +breadcrumbs({items:[{name: 'Главная', href: 'index.html'}, {name: 'Комплексные исследования'}]})
        .content-center
            +b.page-cols
                +e.title
                    h1.h2= $pageTitle
                +e.side-col
                    .hide-mobile
                        +catalog-nav()
                        +info-bar()
                        +cart-panel()
                +e.main-col
                    .hide-desktop
                        +category-nav({
                            items: [
                                {
                                    name: 'Комплексная диагностика',
                                    count: 13
                                },
                                {
                                    name: 'Белковый и аминокислотный обмен',
                                    count: 16
                                },
                                {
                                    name: 'Витамины',
                                    count: 20
                                },
                                {
                                    name: 'Углеводный обмен',
                                    count: 11
                                },
                                {
                                    name: 'Липидный обмен',
                                    count: 19
                                },
                                {
                                    name: 'Обмен железа',
                                    count: 7
                                },
                                {
                                    name: 'Кардиомаркёры',
                                    count: 4
                                }]})
                    +service-buttons()
                    +cards-block-compact()
        +map-block()
        +specials({oneTab: true})
        +faq-block()