extends ./layouts/default
include ../blocks/main-screen/main-screen
include ../blocks/cards-block/cards-block
include ../blocks/information/information
include ../blocks/steps/steps
include ../blocks/specials/specials
include ../blocks/complex-selection/complex-selection
include ../blocks/types-block/types-block
include ../blocks/faq-block/faq-block

block global_vars
    -
        $bodyMods = ['']
        $pageTitle = 'Главная'

block content
    main.page-content
        +main-screen()
        +cards-block()
        +types-block()
        +complex-selection()
        +steps()
        +specials()
        +faq-block()
        +information()
