extends ./layouts/default
include ../blocks/main-screen/main-screen
include ../blocks/cards-block/cards-block

block global_vars
    -
        $bodyMods = ['']
        $pageTitle = 'Главная'

block content
    main.page-content
        +main-screen()
        +cards-block()
