mixin anchors-block(params)
    +b.SECTION.anchors-block
        +e.H2.title.h3 Анализы крови в СитиМед
        +e.nav
            +e.A.link.is-active(href='#anchor1') Якорная ссылка
            +e.A.link(href='#anchor2') Якорная ссылка
            +e.A.link(href='#anchor3') Якорная ссылка
            +e.A.link(href='#anchor4') Якорная ссылка
        +e.content
                p(id='anchor1') #[a(href='#') Глюкоза] – основной лабораторный тест в диагностике сахарного диабета; уровень глюкозы отмечается строго на текущий момент, возможно влияние различных факторов. Используется для скрининга сахарного диабета, динамического наблюдения и оценки эффективности лечения. Повышение уровня сахара крови называется гипергликемия, снижение – гипогликемия.
                p(id='anchor2') #[a(href='#') Гликированный гемоглобин А1с] – необратимое соединение глюкозы с гемоглобином, отражает состояние углеводного обмена примерно за 3 месяца, что позволяет подтвердить наличие и степень повышения уровня глюкозы в крови, выявить «скрытые» формы диабета и диабет беременных. Оптимальный показатель для контроля течения сахарного диабета.
                p(id='anchor3') #[a(href='#') Инсулин] – главный регулятор углеводного обмена. При сахарном диабете 1 типа наблюдается абсолютная недостаточность инсулина. Диабет 2 типа развивается на фоне инсулинорезистентности, когда инсулин чаще повышен. Не является абсолютным критерием в диагностике диабета, может быть ложно изменен на фоне инсулинотерапии.
                p(id='anchor4') #[a(href='#') Инсулин] – главный регулятор углеводного обмена. При сахарном диабете 1 типа наблюдается абсолютная недостаточность инсулина. Диабет 2 типа развивается на фоне инсулинорезистентности, когда инсулин чаще повышен. Не является абсолютным критерием в диагностике диабета, может быть ложно изменен на фоне инсулинотерапии.
