mixin types-block()
    +b.SECTION.types-block
        .content-center
            +e.content
                +e.title
                    +e.title-img-holder
                        +e.IMG.title-img(src='../../assets/img/intext-logo.svg')
                    +e.title-main более #[span.text-accent 1 500 видов анализов]
                    +e.title доступны для клиентов в наших медицинских центрах
                +e.OL.list
                    +e.LI.item
                        +e.icon-holder
                            +e.IMG.icon(src='../../assets/img/choose-exams.svg')
                        +e.name-holder
                            +e.name Выбрать исследование
                        +b.UL.check-list
                            +e.LI.item В каталоге на сайте
                            +e.LI.item По телефону колл-центра (работаем круглосуточно)
                    +e.LI.item
                        +e.icon-holder
                            +e.IMG.icon(src='../../assets/img/examination.svg')
                        +e.name-holder
                            +e.name Сдать анализы
                        +b.UL.check-list
                            +e.LI.item В медицинском центре
                            +e.LI.item Заказать выезд на дом
                    +e.LI.item
                        +e.icon-holder
                            +e.IMG.icon(src='../../assets/img/get-results.svg')
                        +e.name-holder
                            +e.name Получить результаты
                        +b.UL.check-list
                            +e.LI.item В личном кабинете
                            +e.LI.item В медицинском центре

