.types-block {
  margin: 100px 0 90px;
  @media #{$media-mobile} {
    margin: 60px 0;
  }
  &__header {
    position: relative;
    padding: 110px 0 150px;
    background-color: $color-bg-light;
    background-image: url('../../assets/img/citymed-logo-bg.png'), url('../../assets/img/med-bg.png');
    background-size: 374px 333px, 338px 359px;
    background-position: 0 50px, bottom right;
    background-repeat: no-repeat;
    @media #{$media-mobile} {
      padding: 60px 0 70px;
      background-image: url('../../assets/img/med-bg.png');
      background-position: bottom right;
      background-size: 162px 172px;
      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 162px;
        height: 172px;
        background-image: url('../../assets/img/med-bg.png');
        background-position: bottom right;
        background-size: contain;
        transform: rotate(180deg);
        user-select: none;
      }
    }
  }
  &__content {
    position: relative;
    @media #{$media-not-mobile} {
      display: flex;
      align-items: center;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 85px;
    @media #{$media-phone-landscape} {
      flex-direction: column;
      margin-bottom: 35px;
      text-align: center;
    }
  }
  &__title-main {
    font-weight: $font-weight-medium;
    font-size: 36px;
    line-height: 1.2;
    @media #{$media-tablet} {
      font-size: 26px;
      line-height: 1.1;
    }
    @media #{$media-phone-landscape} {
      margin-bottom: 7px;
    }
  }
  &__title-common {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.02em;
    @media #{$media-tablet} {
      font-size: 16px;
    }
  }
  &__title-img-holder {
    width: 342px;
    height: 60px;
    margin-right: 55px;
    @media #{$media-tablet} {
      width: 180px;
      height: 34px;
      margin-right: 25px;
    }
    @media #{$media-phone-landscape} {
      width: 120px;
      height: 20px;
      margin-right: 0;
      margin-bottom: 14px;
    }
  }
  &__title-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  &__accordion-holder {
    margin-top: -60px;
    @media #{$media-mobile} {
      margin-top: -20px;
    }
  }
  &__accordion {
    position: relative;
    z-index: 5;
    background-color: $color-white;
    box-shadow: 0 3px 10px rgba(0, 114, 232, 0.2);
    padding: 20px 50px;
    @media #{$media-mobile} {
      padding: 10px 20px;
    }
  }
}