@charset "UTF-8";

@import 'variables';
@import 'helpers/fonts';
@import 'helpers/optimize';
@import 'helpers/mixins';
@import 'helpers/bvi';
@import 'helpers/slick';
@import 'helpers/select2';
@import 'helpers/fancybox';
@import 'helpers/typografy';

/*!-- Общие стили --*/

body {
	min-height: 100vh;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-black;
	background-color: $color-white;
	&.is-fixed {
		position: fixed;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}
	&.bvi-active {
		padding-top: 0 !important;
	}
	@media #{$media-desktop} {
		font-size: 16px;
	}
	@media (max-width: 319px) {
		min-width: 320px;
		.inside-iframe & {
			min-width: auto;
		}
	}
}

* {
	box-sizing: border-box;
}

body::-moz-selection { color: $color-accent; }
body::selection { color: $color-accent; }

a {
	color: $color-link;
	text-decoration: none;
	transition: color 0.2s ease 0s;
	&:hover {
		text-decoration: underline;
	}
}

body .nomargin {
	margin-top: 0;
	margin-bottom: 0;
}

.content-center {
	width: 100%;
	max-width: $content-max-width;
	margin: 0 auto;
	padding: 0 $margin-desktop;
	@media #{$media-mobile} {
		padding: 0 $margin-mobile;
	}
}

.rub {
	font-family: $font-rouble;
	margin-left: .2rem;
	html[data-useragent*='Mac OS X'] & {
		font-family: $roboto;
	}
}

.is-hide {display: none}

.nobr {
	white-space: nowrap;
}

.block-margin {
	@include block-margin();
}

.push-from-left {
	margin-left: auto;
	&_not-mobile {
		@media #{$media-mobile} {
			margin-left: initial;
		}
	}
}

.push-from-right {
	margin-right: auto;
}

.is-hidden {
	display: none !important;
}
.footnote {
	margin-top: 25px;
	display: flex;
	gap: 8px;
	align-items: center;
	font-size: 13px;
	line-height: 1.2;
	color: $color-text-light;
	&__icon-holder {
		flex-shrink: 0;
		width: 23px;
	}
	&__icon {
		display: block;
		width: 100%;
	}
	@media #{$media-phone-landscape} {
		margin-top: 20px;
		align-items: flex-start;
		&__icon-holder {
			width: 16px;
		}
	}
}

.sticky {
	@media #{$media-not-mobile} {
		position: sticky;
		top: 150px;
		z-index: 5;
	}
}

@media #{$media-mobile} {
	.hide-mobile {
		display: none !important;
	}
}
@media #{$media-not-mobile} {
	.hide-desktop {
		display: none !important;
	}
}


::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	padding: 0;
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	background: #E8F1FD;
}
::-webkit-scrollbar-thumb {
	background: $color-secondary-medium;
	border-radius: 10px;
	border: 0;
}

.modal-content {
	padding-right: 5px;
}

/*!--Блоки--*/
@import '../blocks/**/*.scss';


